<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-tachometer"></span> Dashboard</h1>
        <a href="/dashboard/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <fieldset>
        <form action="/dashboard" method="post">
            <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
            <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(weather !== null){ %>
            <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
            <p><%= error %></p>
        <% } %>
    </fieldset>
</div>
</body>
</html>
