
.container {
    /* On centre */
    margin: 0 auto;

    /* On limite la largeur pour les grands écrans */
    max-width: 1280px;

    /* On gère la présence d'une marge */
    width: 90%;
    background-color: #f1f1f1;
}

.page-header {
    color: #FCA205;
    font-family: 'Lobster';
    src: url('/public/Lobster.woff');
}
h4{
    Font-Weight: Bold;
}

h5{
    text-decoration: underline;
}

.container {
    margin : 10px;
}

div#day {
    float: left;
    width: 2%;
}

div#meteo {
    float: left;
    width: 31%;
    background-color: rgba(255, 255, 255, 0.8);
    margin : 10px;

    text-align: center;
}

div#youtube{

    float: left;
    width: 31%;
 /*   margin-left: 10px;*/
    background-color: rgba(255, 255, 255, 0.8);

    text-align: center;
    margin : 10px;
}

div#steam {
    float: left;
    width: 31%;
    /*overflow: auto;*/
    background-color: rgba(255, 255, 255, 0.8);

    text-align: center;
    margin : 10px;
}
